<nav class="p-4 overflow-y-hidden group-hover:overflow-y-auto flex-grow">
    <h2 class="text-white text-lg">Menu</h2>
    <ul class="mt-4 space-y-2">
        <li><a href="#" routerLink="/" class="block py-2 px-4 rounded hover:bg-blue-500 text-white">Home</a></li>
        <li><a href="#" routerLink="/produtos" class="block py-2 px-4 rounded hover:bg-blue-500 text-white">Produtos</a>
        </li>
        <li><a href="#" routerLink="/clientes" class="block py-2 px-4 rounded hover:bg-blue-500 text-white">Clientes</a>
        </li>
        <li><a href="#" class="block py-2 px-4 rounded hover:bg-blue-500 text-white">Teste</a></li>
    </ul>
    <ul class="mt-4 space-y-2">
        <li><a href="#" class="block py-2 px-4 rounded hover:bg-blue-500 text-white">Teste</a></li>
        <li><a href="#" class="block py-2 px-4 rounded hover:bg-blue-500 text-white">Teste</a></li>
        <li><a href="#" class="block py-2 px-4 rounded hover:bg-blue-500 text-white">Teste</a></li>
        <li><a href="#" class="block py-2 px-4 rounded hover:bg-blue-500 text-white">Teste</a></li>
    </ul>
</nav>